body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    color: #000000;
    background-color: #f0f3f4;
}

.text-content {
    max-width: 500px;
    margin-left: 0px;
}

.main-content p {
    white-space: pre-line;
}

.fade-in2 {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in2.visible {
    opacity: 1;
    transform: translateY(0);
}

.main-content p {
    white-space: pre-line;
}

.gallery {
    --g: 5px;
    display: grid;
    width: 450px;
    aspect-ratio: 1;
    grid: auto-flow 1fr / repeat(3, 1fr);
    gap: var(--g);
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale();
    cursor: default;
    transition: .5s;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
}

.gallery img:hover {
    filter: grayscale(0);
}

.gallery img:nth-child(2) {
    grid-area: 1/2/span 2/span 2;
    clip-path: polygon(0 0,100% 0,100% 100%,calc(50% + var(--g)/4) 100%,0 calc(50% - var(--g)/4));
}

.gallery img:nth-child(3) {
    grid-area: 2/1/span 2/span 2;
    clip-path: polygon(0 0,calc(50% - var(--g)/4) 0,100% calc(50% + var(--g)/4),100% 100%,0 100%);
}

.explore-projects {
    background-color: #000000;
    color: #f0f3f4;
    padding: 100px 0;
    text-align: center;
}

.explore-projects h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.project-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    margin: 0 10px;
    text-align: left;
}

.project img {
    width: 225px;
    height: 280px;
    border-radius: 0px;
    transition: transform 1.3s ease;
    object-fit: cover;
    pointer-events: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
}

.project:hover img {
    transform: scale(1.02); 
}

.project h3 {
    margin-top: 15px;
    font-size: 15px;
}

.explore-games-button {
    background-color: transparent;
    color: #f0f3f4;
    border: 1px solid #e6bb2d;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    margin-top: 40px;
    display: inline-block;
}

.explore-games-button:hover {
    background-color: transparent;
    color: #e6bb2d;
    border-color: #ffba43;
}

.project__icons {
    margin-top: 8px;
}

.project__icons i {
    font-size: 15px;
    margin-right: 3px;
    color: #f0f3f4;
} 

@media (max-width: 768px) { 
    header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .logo img {
        margin: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .header__social {
        margin: 10px 0;
    }

    .main-content {
        padding: 20px;
    }

    .project-list {
        flex-direction: column;
        align-items: center;
    }

    .project {
        margin: 10px 0;
    }

    .project img {
        width: 100%;
        max-width: 220px;
        height: 288px;
    }

    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .text-content {
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
    }

    .gallery {
        width: 100%;
        max-width: 400px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .main-content h1 {
        font-size: 24px;
    }

    .main-content p {
        font-size: 14px;
    }

    .explore-projects h2 {
        font-size: 24px;
    }

    .explore-games-button {
        font-size: 14px;
        padding: 10px 20px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 1s ease-out forwards;
}

.hidden {
    opacity: 0;
}
