.banner-gallery {
    background-color: #f0f3f4;
    padding-top: 150px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-gallery img {
    max-width: 100%;
    border-radius: 10px;
    height: auto;
    width: 1700px;
    height: 100%;
    object-fit: cover;
}